.custom-carousel-item {
    height: 32rem;
    background-color: #777;
    color: white;
    position: relative;
}

/* .carousel-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
} */

.overlay-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.75;
}